
/* -------------------------------------------------------------------
Typography - Portfolio typography
--------------------------------------------------------------------*/ 

@font-face {
	font-family: Crimson_Text;
	src: url('fonts/Crimson_Text/CrimsonText-Regular.ttf');
}
@font-face {
	font-family: RobotoBold;
	src: url('fonts/Roboto/Roboto-Bold.ttf');
}

*{ margin: 0; padding: 0;}

/* ---- base ---- */
html{
	-webkit-tap-highlight-color: @black;
}
html,body{
	width:100%;
	height:100%;
	font-family:Crimson_Text;
	color: @blackfont;
}
h1,h2,h3,h4,h5{
	font-family:RobotoBold;
	margin-bottom:10px;
	font-weight: 600;
}
h1{
	font-size: 24px;
}
h2{
	font-size: 22px;
}
h3{
	font-size: 20px;
	text-decoration: underline;
}
h4{
	font-size: 18px;
	text-decoration: underline;
}
p {
	font-size: 16px;
}
a{
	text-decoration:none;
	color: @blue-5;
	transition: all .5s ease;
	&:hover{
		text-decoration: none;
		color: @red-1;
		background-color: @yellow-2;
		border-bottom: 2px solid @red-1;
	}
}
body{
	background-color: @yellow-1;
}

/* --- Canvas Particle css --- */
.connecting-dots{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0; 
	background-size: cover;
	background-repeat: no-repeat;
}

/* ---- particles.js container ---- */
#particles-js{
	width: 100%;
	height: 100%;
	background-image: url('');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index: 0;
}
/* Header */
#header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 110px;
	#header-logo{
		position: absolute;
		height: 95px;
		top: -150px;
		left: 15px;
		opacity: 0;
	}
}

/* Front Page Header styles */
	/* Top section */
.fixed{
	height:100%; 
	width:100%; 
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow:hidden;
	.section-inView{
		position:absolute;
		top:90%;
		bottom:0;
		right:0;
		left:0; 
		height:0px;
	}
	#logo-container{
		height:240px;
		z-index: 10;
		position: absolute;
		margin: auto;
		top: 0;
		right: 0;
		left: 0;
		bottom: 15%;
		width: 80%;
		display: table;
		#title{
			z-index: 10;
			position: absolute;
			margin: auto;
			top: initial;
			bottom: -150px;
			width: 100%;
			pointer-events: none;
			text-align: center;
			display: table-cell;
			h1{
				border-top: 2px solid rgba(51,51,51,.8);
				border-bottom: 2px solid rgba(51,51,51,.8);
				padding: 20px 0;
				width: 60%;
				margin: auto;
			}
		}
		#reset-size{
			position: relative;
			height: 240px;
			width: 240px;
			margin: auto;
			.line, .line-2 {
				transform: rotate(135deg);
				width: 200px;
				height: 2px;
				top: 0;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
			}
			.line{
				border-bottom: 1px solid rgba(0,0,0,0.85);
				border-top: 1px solid rgba(0,0,0,0.85);
			}
			.line-2{
				border-bottom: 1px solid @yellow-3;
				border-top: 1px solid @yellow-3;
			}
			#s, #m{
				width: auto;
				height: 110px;
				position: absolute;
			}
			#s{
				top:0px;
				left:0px;
				bottom:inherit;
				right:inherit;
			}
			#m{
				top:inherit;
				left:inherit;
				bottom:0px;
				right:0px;
			}
			#am, #uir{
				position:absolute;
				font-size:16px;
				font-weight: 800;
			}
			#am{
				top:37%;
				left:40%;
				bottom:inherit;
				right:inherit;
			}
			#uir{
				top: inherit;
				left: inherit;
				bottom: 2%;
				right: 1%;
			}
		}
	}
}

/* scrolling sections*/
.scrolling{
	height:100%; 
	width:100%; 
	position: absolute;
	overflow: hidden;
}

/* rollover section */
.black-rollover{
	background-color: @blackfont;
	pointer-events: none;
	color: @yellow-3;
	top: 100%;
	left: 0;
	right: 0;
	clip: rect(auto, auto, auto, auto);
}

/* About section */
.about-container{
	top: 200%;
	z-index: 400;
	min-height:100%;
	height:auto;
	background-color: @blue-2;
}
#about{
	z-index: 410;
	position: relative;
    //opacity: 0;
    -webkit-transition: 0.8s ease-in-out;
    -moz-transition: 0.8s ease-in-out;
    -o-transition: 0.8s ease-in-out;
	transition: 0.8s ease-in-out;
	#about-description{
		padding: 30px 12%;
		position: relative;
		margin: auto;
		line-height: 18px;
		#cactus{
			height:75px;
			width:75px;
			border-radius:50%;
			margin-right: 20px;
			border: 5px solid @grey;
			vertical-align: middle;
			float: left;
		}
		.intro{
			vertical-align: middle;
		}
		hr{ 
			border-top: 4px solid @grey;
			width: 60%;
			margin: 15px auto;
		}
		#skills{
			margin: 20px auto;
			background-color: @light-grey;
			border-radius: 11px;
    		padding: 20px 15px 10px;
			&:after{
				content: "";
				display: table;
				clear: both;
			}
			.columns{
				float: left;
				width: 50%;
				padding: 10px 20px;
			}
			ul{
				margin-left:20px;
				li{
					margin:4px 0;
					&:before{
						content: '';
						position: absolute;
						border: 1px solid @red-1;
						height: 0.8em;
						width: 0.8em;
						border-radius: 50%;
						background-color: @red-1;
						margin: 4px 0px 0px -20px;
					}
				}
			}
		}
	} 
	.pointer{
		pointer-events: all;
		margin: 20px 0;
		text-align: left;
	}
}

/* Contact section */
#contact{
	padding: 10px 0;
	.contact-item{
		float: left;
		width:30%;
		padding-bottom:20px;
	}
	svg{
		fill: @grey;
		width: 40px;
		height: 40px;
		transition: all .5s ease;
		vertical-align: middle;
		margin-right: 4px;
		border-radius: 50%;
		position: relative;
	}
	span{
		position: relative;
		top: 4px;
	}
	a{
		&:hover{
			text-decoration: none;
			color: @red-1;
			background-color: initial;
			border-bottom: initial;
			span{
				background-color: @yellow-2;
				border-bottom: 2px solid @red-1;
			}
			svg{
				box-shadow: 5px 5px 4px @light-grey;
				bottom:4px;
				right:4px;
			}
			#gmail{
				fill: #ff4c4c;
			}
			#phone{
				fill: @yellow-5;
				background-image: radial-gradient(@black, @yellow-5);
			}
			#facebook{
				fill: #3B5998;
			}
			#twitter{
				fill: #006dbf;
			}
			#linkedIn{
				fill: #0077B5;
			}
			#gitHub{
				fill: @black;
			}
			#treehouse{
				fill: #5fcf80;
			}
		}
	}
}

/* footer */
footer{
	position: absolute;
	bottom: 0;
	height:40px;
	width: 100%;
	padding: 10px 10%;
	background-color: @blue-3;
	span{
		float: right;
	}
}





